<?xml version='1.0' encoding='utf-8'?>
<widget id="com.js.easycan" version="1.1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Easy Canvas</name>
    <description>
       Easy Canvass for drawing art,sign and many more
    </description>
    <author email="support@jyoshdevelopers.com" href="http://jyoshdevelopers.com">
       Jyosh Developers
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="28" />
    <preference name="orientation" value="landscape" />
    <preference name="SplashScreenDelay" value="1000" />
    <plugin name="cordova-plugin-backbutton" source="npm" spec="~0.3.0" />
    <plugin name="cordova-plugin-canvas2image" source="npm" spec="~0.7.0" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" spec="5.1.1" />
    <plugin name="cordova-plugin-x-toast" source="npm" spec="2.5.2" />
    <plugin name="cordova-sqlite-storage" source="npm" spec="1.2.1" />
    <plugin name="cordova-plugin-payment-iap" source="npm" spec="~2.0.52" />
    <plugin name="cordova-launch-review" source="npm" spec="~1.0.3" />
    <plugin name="cordova-plugin-imagepicker" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
